body {

  font-family: Impact;
  background-color: black;
  color: white;
    
}

a {
  
  color: cyan;
  text-decoration: underline;
    
}

a:hover { cursor: pointer; }

.socialIcon {

  width: 5vw;
  max-width: 200px;
  
}

.socialIcon:hover { cursor: pointer; }

#bodyDiv {

  font-size: calc(12px + 10vh);
  
}
