body {

  font-family: Impact;
  background-color: black;
  color: white;
    
}

a {
  
  color: cyan;
  text-decoration: underline;
    
}

a:hover { cursor: pointer; }

#headerDiv {

  margin: 10vh 0 10vh 0;
  
}

#logo {

	border-radius: 10px;

}

.socialIcon {

  width: calc(50px + 3vw);
  max-width: 300px;
  
}

.socialIcon:hover { cursor: pointer; }

#bodyDiv {

	align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;

  margin: 10%;

	background-color: rgba(100, 100, 100, 0.2);
	
  font-size: calc(24px + 1vh);

  color: red;
  
}

#progressUpdateText {

	align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;

	width: fit-content;

	padding: 10%;

	font-size: calc(20px + 1vh);

	border: 5px groove #d37979;

	border-radius: 10px;

}
